@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue');

@media only screen and (max-width: 1000px) {
  .column {
    float: none;
    width: 50%;
  }
  /* Clear floats after the columns */
  .row:after {
    align-items: center;
    content: "";
    display: table;
    clear: both;
  }
}

@media 
only screen and (max-width: 600px){

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  /*tr { border; none; }*/
  
  td { 
    /* Behave  like a "row" */
    border: none;
    /*border-bottom: 1px solid #eee; */
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    to/*p: 6px;
    left: 6px;
    width: 45%; 
    padding*/-right: 10px; 
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1000px) {
  .column {
    float: left;
    width: 50%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.half_background {
  background: linear-gradient(to top, #FAE596 50%, transparent 50%);
}

.nopad {
    margin-bottom: 0;
    padding-bottom: 0;
}

.breaks {
    white-space: pre-wrap;
}

h1, h2, h3, h4 {
    font-weight: bolder;
}

input, select, textarea {
    font-family: "Patrick Hand", serif;
    font-size: 18pt;
}

::placeholder {
    -webkit-text-stroke-width: 0px;
}

td {
  vertical-align: bottom;
}

html, body {
    text-align: center;
    background-color: #f7beea;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18pt;
    font-family: "Patrick Hand", serif;
    line-height: 1;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /*max-width: 65ch;*/
}

.navbar {
  color: black;
}



.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 120px;
  background: #fff;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  color: #000;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 90px;
  bottom: -24px;
}
