<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->
    <title>Friendsgiving 2021 RSVP</title>
    {% endblock %}
</head>
<body>
    <div class='navbar'>
        <menubar>
            {% if not home %}
                <a href="/">logout</a> -
            {% endif %}

            friendsgiving - saturday, november 27 - 657 flatbush ave. #1 11225

            {% if view %}
                - <a href="/edit">edit my response</a>
            {% endif %}
        </menubar>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
